     <div id="footerFormContainer_327690"></div>
     <script>
       let footerFormContainer_327690 = () => {
            const footerFormScript = document.createElement('script');
            footerFormScript.setAttribute("src", "https://forms-akamai.smsbump.com/753398/form_327690.js?ver=1736773576");
            footerFormScript.setAttribute("type", "text/javascript");
             console.log('loaded')
            const head = document.head || document.getElementsByTagName('head')[0]
            head.appendChild(footerFormScript)

            footerFormScript.onload = function () {
              SMSBumpForm.default.render()
            }
       }

       footerFormContainer_327690()

       document.addEventListener("shopify:section:load", function(event) {
         footerFormContainer_327690()
       });
       document.addEventListener("shopify:section:select", function(event) {
         footerFormContainer_327690()
       });
     </script>
     {% schema %}
     {
       "name": "Yotpo|Footer email",
       "settings": [
         {
           "type" : "paragraph",
           "content" : "To edit your Collection Footer, go to [Yotpo SMS & Email](https://email-and-sms.yotpo.com/sms/) and open your Footer Form. Save your updated form and refresh this page."
         }
       ],
       "presets": [
         {
           "name": "Yotpo|Footer email",
           "category": "Yotpo Subscription Footer Forms"
         }
       ]
     }
     {% endschema %}
     {% stylesheet %}
        div#smsbump-form-327690 .form-holder {
      width: 100% !important;
      /*max-width: 645px !important;*/
            max-width: 75%;
      margin: 0 auto;
  }
  div#smsbump-form-327690 h1.header-text.cw-text-hero.cw-mb-4 {
      font-size: 22px !important;
      font-weight: 600;
      letter-spacing: 3px !important;
      line-height: 1.125 !important;
  }

      div#smsbump-form-327690   h2.description-text.cw-text-mega.cw-text-center.cw-mb-6 {
      font-weight: 300 !important;
      font-family: "Friedel Pro" !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-size: 12px;
          letter-spacing: normal !important;
  }

         div#smsbump-form-327690 .input-field-wrapper {
      flex: 1 1 0%;
      margin: 0 !important;
  }

         div#smsbump-form-327690  span#smsb-button-field-subscribe {
      font-size: 16px;
      font-family: Friedel Pro;
      font-weight: 400;
               letter-spacing: 1px;
  }

       div#smsbump-form-327690 .smsb-subscribe-button.cw-btn.cw-btn-primary.cw-btn-primary.smsb-subscribe-2-button {
      border: 1px solid #000;
  }
        div#smsbump-form-327690 input.email-field.cw-form-control {
      font-size: 16px;
      font-family: Friedel Pro !important;
      font-weight: 400 !important;
  }

  div#smsbump-form-327690 .gfeEft {
    padding: 40px 22px;
    min-height: 200px;
    width: 50%;
    padding: 40px;
    margin: 0 auto;
}
/*thank you*/
 div#smsbump-form-327690 .successWrapper h1.sc-75msgg-0.ccnYTB.header-text.cw-text-hero.cw-mb-4 {
    font-size: 16px !important;
    letter-spacing: 3px !important;
}

  /* Desktop */
   @media only screen and (max-width: 1799px) {
       div#smsbump-form-327690 .gfeEft {
    width: 42%;
}

     
           div#smsbump-form-327690 .gDOPaH input.sc-1ru733p-3.email-field,
   div#smsbump-form-327690 .gDOPaH .sc-1ru733p-0.smsb-subscribe-button {
          height: 42px !important;
          font-size: 14px !important;
     font-family: Friedel Pro !important;
        font-weight: 400 !important;
      }

     div#smsbump-form-327690 .form-holder {
            max-width: 80% !important;
    /* max-width: 533px !important; */
    margin: 0 auto;
}

div#smsbump-form-327690 span#smsb-button-field-subscribe {
    font-size: 14px;
    font-family: Friedel Pro;
    font-weight: 400;
    letter-spacing: 1px;
}     

       div#smsbump-form-327690  .form-9-namespace .inline-form .smsb-subscribe-button {
        flex: 0 0 150px;
        max-width: 150px;
    }

     
   }
  
  /* Laptop*/
   @media only screen and (max-width: 1299px) {
      div#smsbump-form-327690 .form-holder {
        max-width: 100% !important;
        /* max-width: 433px !important; */
        margin: 0 auto;
    }

          div#smsbump-form-327690 .gfeEft {
    width: 55%;
}

     
   }
  
/*Large Tablet*/
   @media only screen and (max-width: 1024px) {
          div#smsbump-form-327690 .smsb-subscribe-button.cw-btn.cw-btn-primary.cw-btn-primary.smsb-subscribe-2-button {
          border: 1px solid #000;
          width: 150px;
          justify-content: center;
            max-width: unset;
            flex: unset;
      }

     .sc-1d4w5cg-1.NeqYE.smsb-subscribe-button-holder {
      display: none;
  }
  div#smsbump-form-327690 .sc-1d4w5cg-0.diFhqo.false.form-holder {
      flex-direction: row !important;
  }
     div#smsbump-form-327690 .gDOPaH input.sc-1ru733p-3.email-field,
   div#smsbump-form-327690 .gDOPaH .sc-1ru733p-0.smsb-subscribe-button {
          height: 42px !important;
          font-size: 14px !important;
      }


  div#smsbump-form-327690 .input-field-wrapper {
      flex: unset;
      margin: 0 !important;
      width: calc(100% - 150px);
  }

    }


  /* Small Tablet */

         @media only screen and (min-width: 481px) and (max-width: 800px) {
 

           div#smsbump-form-327690 span#smsb-button-field-subscribe {
      font-size: 14px;
  }
      div#smsbump-form-327690 .smsb-subscribe-button.cw-btn.cw-btn-primary.cw-btn-primary.smsb-subscribe-2-button {
          border: 1px solid #000;
          width: 40%;
          justify-content: center;
          max-width: unset;
          flex: unset;
          margin-top: 0 !important;
      }
           div#smsbump-form-327690 .input-field-wrapper {
      flex: unset;
      margin: 0 !important;
      width: 60%;
  }

           div#smsbump-form-327690 h1.sc-75msgg-0.dQOgwD.header-text.cw-text-hero.cw-mb-4 {
      line-height: 1.125 !important;
  }

               div#smsbump-form-327690 .gfeEft {
        width: 55%;
        padding: 40px 0;
    }

           

  }

/*MOBILE*/
  @media only screen and (max-width: 480px) {
         .sc-1d4w5cg-1.NeqYE.smsb-subscribe-button-holder {
      display: none;
  }

         .sc-1ru733p-0.gmusua.smsb-subscribe-button.cw-btn.cw-btn-primary.cw-btn-primary.smsb-subscribe-2-button {
      margin-top: 0 !important;
  }
  div#smsbump-form-327690 .gDOPaH input.sc-1ru733p-3.email-field,
   div#smsbump-form-327690 .gDOPaH .sc-1ru733p-0.smsb-subscribe-button {
          height: 42px !important;
          font-size: 16px !important;
      }

    h1.sc-75msgg-0.dQOgwD.header-text.cw-text-hero.cw-mb-4 {
      line-height: 1.125 !important;
  }
  div#smsbump-form-327690 span#smsb-button-field-subscribe {
      font-size: 16px;
  }
    div#smsbump-form-327690 .smsb-subscribe-button.cw-btn.cw-btn-primary.cw-btn-primary.smsb-subscribe-2-button {
      border: 1px solid #000;
      width: 156px;
          justify-content: center;
  }

           div#smsbump-form-327690 .smsb-subscribe-button.cw-btn.cw-btn-primary.cw-btn-primary.smsb-subscribe-2-button {
          border: 1px solid #000;
          justify-content: center;
      }

    div#smsbump-form-327690 .input-field-wrapper {
      flex: unset;
      margin: 0 !important;
  }
    div#smsbump-form-327690 .gfeEft {
        width: 100%;
        padding: 40px 15px;
    }

          div#smsbump-form-327690 .smsb-subscribe-button.cw-btn.cw-btn-primary.cw-btn-primary.smsb-subscribe-2-button {
        
          width: 40%;
        
      }
           div#smsbump-form-327690 .input-field-wrapper {

      width: 60%;
  }

  }
     {% endstylesheet %}
     {% javascript %}
     {% endjavascript %}