/*********************** Custom CSS for Boost AI Search & Discovery  ************************/
.boost-sd-layout {
    width: 100%;
    max-width: none;
}

.boost-sd__toolbar-inner {
    width: 100%;
    max-width: none;
}

.boost-sd__header-title {
    font-weight: normal;
}

.boost-sd__product-count {
    font-size: 14px;
    text-transform: uppercase;
}

.boost-sd__product-title {
    font-weight: normal;
}

@media only screen and (min-width: 768px) {
    /* .boost-sd__product-list-grid--4-col.boost-sd__product-list--margin .boost-sd__product-item {
        margin-bottom: 20px;
        margin-left: calc(10px * .5);
        margin-right: calc(10px * .5);
        width: calc(25% - 10px);
    }
  .boost-sd__product-list--margin {
        margin-left: calc(10px * -.5);
        margin-right: calc(20px * -.5);
    } */
    .boost-sd__toolbar--3_1 .boost-sd__toolbar-item:nth-child(2) {
        justify-content: end;
    }
}