/*********************** Custom CSS for Boost AI Search & Discovery  ************************/

.boost-sd-layout{
  width: 100%;
  max-width: none;
}

@media only screen and (min-width: 768px) {
    .boost-sd__product-list-grid--4-col.boost-sd__product-list--margin .boost-sd__product-item {
        margin-bottom: var(--boostsd-product-item-margin-bottom);
        margin-left: calc(20px * .5);
        margin-right: calc(20px * .5);
        width: calc(25% - 20px);
    }
  .boost-sd__product-list--margin {
        margin-left: calc(20px * -.5);
        margin-right: calc(20px * -.5);
    }
  
}

