@import url("https://p.typekit.net/p.css?s=1&k=aai0fap&ht=tk&f=10881.10882.10884.10885.15357.15358.15361.15362.32874.32875&a=86383296&app=typekit&e=css");
@font-face {
  font-family:"futura-pt";
  src:url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}
@font-face {
  font-family:"futura-pt-bold";
  src:url("https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"futura-pt-condensed";
src:url("https://use.typekit.net/af/64e0cf/00000000000000000001203d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/64e0cf/00000000000000000001203d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/64e0cf/00000000000000000001203d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

body {
  /*font-family:"futura-pt";*/
  font-family: 'Friedel Pro';
}
:focus {outline:0;}
.banner {
  background-color: #000;
  display:block;
}
@media (min-width: 1000px) {
  .logo__image--small {
    max-height: 2.3em;
  }
}

.main,
.sidebar {color:#000;}  
    
.main input[type="text"], 
.main input[type="password"], 
.main input[type="email"], 
.main input[type="search"], 
.main input[type="url"], 
.main input[type="tel"], 
.main input[type="number"], 
.main input[type="date"], 
.main input[type="month"], 
.main input[type="week"], 
.main input[type="time"], 
.main input[type="range"], 
.main input[type="color"], 
.main select, 
.main textarea {
  background-color:transparent;
  border:none;
  border-bottom:solid 1px #e3e3e3;
  border-radius:0;
  padding-left:0;
  padding-right:0;
}
.main input[type="text"]:focus,
.main input[type="text"]:focus, 
.main input[type="password"]:focus, 
.main input[type="email"]:focus, 
.main input[type="search"]:focus, 
.main input[type="url"]:focus, 
.main input[type="tel"]:focus, 
.main input[type="number"]:focus, 
.main input[type="date"]:focus, 
.main input[type="month"]:focus, 
.main input[type="week"]:focus, 
.main input[type="time"]:focus, 
.main input[type="range"]:focus, 
.main input[type="color"]:focus, 
.main select, 
.main textarea {
  border:none;
  border-bottom:solid 1px #e3e3e3;
  border-radius:0;
  box-shadow:none;
}
.main input[type="text"]::-webkit-input-placeholder, 
.main input[type="password"]::-webkit-input-placeholder, 
.main input[type="email"]::-webkit-input-placeholder, 
.main input[type="search"]::-webkit-input-placeholder, 
.main input[type="url"]::-webkit-input-placeholder, 
.main input[type="tel"]::-webkit-input-placeholder, 
.main input[type="number"]::-webkit-input-placeholder, 
.main input[type="date"]::-webkit-input-placeholder, 
.main input[type="month"]::-webkit-input-placeholder, 
.main input[type="week"]::-webkit-input-placeholder, 
.main input[type="time"]::-webkit-input-placeholder, 
.main input[type="range"]::-webkit-input-placeholder, 
.main input[type="color"]::-webkit-input-placeholder, 
.main select::-webkit-input-placeholder, 
.main textarea::-webkit-input-placeholder {
  color: #000;	
}
.main input[type="text"]::-moz-placeholder, 
.main input[type="password"]::-moz-placeholder, 
.main input[type="email"]::-moz-placeholder, 
.main input[type="search"]::-moz-placeholder, 
.main input[type="url"]::-moz-placeholder, 
.main input[type="tel"]::-moz-placeholder, 
.main input[type="number"]::-moz-placeholder, 
.main input[type="date"]::-moz-placeholder, 
.main input[type="month"]::-moz-placeholder, 
.main input[type="week"]::-moz-placeholder, 
.main input[type="time"]::-moz-placeholder, 
.main input[type="range"]::-moz-placeholder, 
.main input[type="color"]::-moz-placeholder, 
.main select::-moz-placeholder, 
.main textarea::-moz-placeholder {
  color: #000;	
}
.main input[type="text"]:-moz-placeholder, 
.main input[type="password"]:-moz-placeholder, 
.main input[type="email"]:-moz-placeholder, 
.main input[type="search"]:-moz-placeholder, 
.main input[type="url"]:-moz-placeholder, 
.main input[type="tel"]:-moz-placeholder, 
.main input[type="number"]:-moz-placeholder, 
.main input[type="date"]:-moz-placeholder, 
.main nput[type="month"]:-moz-placeholder, 
.main input[type="week"]:-moz-placeholder, 
.main input[type="time"]:-moz-placeholder, 
.main input[type="range"]:-moz-placeholder, 
.main input[type="color"]:-moz-placeholder, 
.main select:-moz-placeholder, 
.main textarea:-moz-placeholder {
  color: #000;	
}
.main input[type="text"]:-ms-input-placeholder, 
.main input[type="password"]:-ms-input-placeholder, 
.main input[type="email"]:-ms-input-placeholder, 
.main input[type="search"]:-ms-input-placeholder, 
.main input[type="url"]:-ms-input-placeholder, 
.main input[type="tel"]:-ms-input-placeholder, 
.main input[type="number"]:-ms-input-placeholder, 
.main input[type="date"]:-ms-input-placeholder, 
.main input[type="month"]:-ms-input-placeholder, 
.main input[type="week"]:-ms-input-placeholder, 
.main input[type="time"]:-ms-input-placeholder, 
.main input[type="range"]:-ms-input-placeholder, 
.main input[type="color"]:-ms-input-placeholder, 
.main select:-ms-input-placeholder, 
.main textarea:-ms-input-placeholder {
  color: #000;	
}

@media (min-width: 1000px) {
 .main .main__header {padding-bottom: 4em;}
}

.main .breadcrumb .breadcrumb__item {
  color:#000;
  font-family:"futura-pt";
  font-size: 1em;
  margin:0 60px 0 0;
  padding: 0 0 5px;
}
.main .breadcrumb .breadcrumb__item svg {display:none;}
.main .breadcrumb .breadcrumb__item.breadcrumb__item--blank {color:#C3C3C3;}
.main .breadcrumb__item--current {
  border-bottom:solid 1px #000;
  color:#000;
}
.section--contact-information {position:relative;}
.logged-in-customer-information .logged-in-customer-information__paragraph a {
  font-family:"futura-pt";
  float:right;
  position:relative;
  top:-20px;
}
.section__header .section__title {
  color:#000;
  font-size:14px;
  font-family:"futura-pt-bold";
  font-weight:700;
}
.field__caret {
  border:none;
  text-align:right;
}
.field__caret svg {display:none;}
.field__caret:after {
  content:"";
  display:inline-block;
  margin-right: 4px;
  height:4px;
  width:4px;
  border-bottom:solid 2px #000;
  border-left:solid 2px #000;  
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
.sidebar:after {box-shadow:none;} 
.product-thumbnail {
  width: 6em;
  height: 7em;
  border-radius: 0;
  background: none;
  position: relative;
}
.product-thumbnail::after {border-radius: 0;}
.sidebar form.edit_checkout.fieldset {
  border-bottom:solid 1px #000;
  margin-left:0;
  margin-right:0;
}
.sidebar form.edit_checkout .fieldset {
  border-bottom:solid 1px #000;
  margin-left:0;
  margin-right:0;
}     
.sidebar .field {
  padding-left:0;
  padding-right:0;
}
.sidebar #checkout_reduction_code {
  background-color: transparent;
  border:none;
}
.sidebar #checkout_reduction_code:focus {
  border: 0;
  box-shadow: none;
  outline: 0;
}
.field__input-btn.btn {
  background: transparent none !important;
  border: none;
  padding: 0;
  font-size: 0;
  height: 8px;
  width: 8px;
  border-bottom: solid 2px #000;
  border-right: solid 2px #000;
  transform: rotate(-45deg);
  top: 20px;
}
.sidebar .field__input-btn.btn svg {display:none;}
.sidebar .field__input-btn.btn--disabled {
  border-bottom: solid 2px #c3c3c3;
  border-right: solid 2px #c3c3c3;
}    
form.edit_checkout td, 
form.edit_checkout th {vertical-align:top;}


.floating-labels .field__label {
  color:#000;
  padding-left:0;
}
.step__footer__previous-link {
  font-family:"futura-pt";
  font-size:11px;
  font-weight:700;
  letter-spacing:1px;
  text-transform:uppercase;
}
.previous-link__icon {margin-right: 0.55em;}
.btn {
  border-radius:0;
  letter-spacing:1px;
  padding-bottom:1em;
  padding-top:1em;
  text-transform:uppercase;
}
.payment-due-label__total {
  font-family:"futura-pt";
  font-weight:700;
  text-transform:uppercase;
}

.total-line__price.payment-due .payment-due__currency,
.total-line__price.payment-due .payment-due__price {
  color:#000;
  font-size:1.14286em;
  font-family:"futura-pt";
  font-weight:700;
  text-transform:uppercase;
}
.total-line__price.payment-due .payment-due__currency {
  float:right;
  margin:0 0 0 5px;
  vertical-align: initial;
}
.order-summary__section ~ .order-summary__section {
    border-top: none;
}
.product__description__name.order-summary__emphasis,
.product__price .order-summary__emphasis {
  color:#000;
  font-family:"futura-pt";
  font-weight:600;
}
.total-recap__final-price {
  font-family:"futura-pt";
  font-weight:600;
  text-transform:uppercase;
}
.order-summary-toggle__text {
  font-family:"futura-pt";
  font-weight:700;  
}
.step__sections .content-box {
  border:none;
  border-bottom:solid 1px #E3E3E3;
}

.radio__label__accessory .content-box__emphasis {
  color:#000;
  font-family:"futura-pt";
  font-weight:700;
}
.input-radio:checked {
  border: solid 1px #000;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #000000;
}
.input-radio:after {
  width: 14px;
  height: 14px;
  margin-left: -7px;
  margin-top: -7px;
  background-color: #000;
  border-radius: 50%;
}
.content-box .content-box__row {
  padding-left:0;
  padding-right:0;
}
.section.section--shipping-method {
  padding-bottom:3em;
  padding-top:3em;
}
.review-block ~ .review-block {padding-top: 2em;}
.content-box__row ~ .content-box__row {border:none;}
.section--payment-method .radio-wrapper.content-box__row:not(.card-fields-container) {
  border-bottom:solid 1px #000;
}
.card-fields-container {
  padding-left: 30px !important;
  padding-right: 30px !important;
  background: none;
}  
.card-fields-container .field__input {
  background-color:transparent;
  border:none;
  border-bottom:solid 1px #e3e3e3;
  border-radius:0;
  box-shadow:none;
  padding-left:0;
  padding-right:0;
}   
.card-fields-container .field__input:focus {
  border:none;
  border-bottom:solid 1px #e3e3e3;
  border-radius:0;
  box-shadow:none;
}

.card-fields-container .card-fields-container--loaded .field--active .field__input--iframe-container {
  outline: none;
  border: none;
  border-bottom:solid 1px #e3e3e3;
  box-shadow: none;
}
.content-box .field__icon .icon-svg--color-adaptive-lighter, 
.content-box .field__caret .icon-svg--color-adaptive-lighter {
  color: #000;
  fill: #000;
}
[data-step="payment_method"] .step__footer .step__footer__continue-btn {padding: 1.4em 3.5em;}
.section__header.os-header {
  margin: 0;
  border-bottom: solid 1px #000;
  padding: 0 0 10px;
}
.section__header.os-header .os-order-number {
  float:right;
  position: relative;
  top: 10px;
}

.content-box {
  border:none;
  border-bottom:solid 1px #e3e3e3;
  border-radius:0;
}
h2 {
  color:#000;
  font-family:"futura-pt";
  font-weight:600;
}
h3,
.os-step__title {
  color:#000;
  font-size:14px;
  font-family:"futura-pt";
  font-weight:600;
}
.os-step__description .btn__content {
  font-family:"futura-pt";
  font-weight:600;
}
.alternative-payment-separator__content {
  font-family:"futura-pt";
  font-weight:600;
}
.dynamic-checkout__content {border:none;}
.dynamic-checkout__title {
  border-top:solid 1px #e3e3e3;
  padding-top:20px;
}
.dynamic-checkout__title:after, 
.dynamic-checkout__title:before {display:none;}

#remember_me_mobile_phone_number_tooltip .field__icon-svg {top:20%;}
.step__sections .review-block__label {
  -webkit-flex: 0 1 7em;
  -ms-flex: 0 1 7em;
  flex: 0 1 7em;
}
@media (min-width: 1000px) {
  
 .page--no-banner .main {padding-top: 2em;}
 .page--no-banner .sidebar {padding-top: 8em;}
  
}

@media (max-width:999px) {

  .logo {text-align: center;}
  .section__header.os-header {
    text-align:center;
  }
  .section__header.os-header,
  .os-header__heading {
    display:-webkit-flex;
    display:flex;
    -webkit-flex-flow:column;
    flex-flow:column;
  }
  .os-header__heading {padding:8px 0;}
  .os-order-number {order:2;}
  [data-step="thank-you"] .section__content__column--half {
    margin-top:0;
    float:left;
    width:50%;
  }
}